@charset "utf-8";
/* CSS Document */
	
	/*Personalizacao na barra de busca*/
	#formbusca{
		width:100%;
		background-color:#f8f8f8;
	}
	.formbusca{
		outline:none;
		/* border: solid 1px rgba(124, 128, 129, 0.2); Cinza muito Bonito! */
		text-indent:90px;
		width:75px; /* Deste tamanho para esconder o placeholder */
		height:40px;
		font-family:Segoe UI, sans-serif;
		font-size:.98em;
		font-weight:lighter;
		color:#7c8081;
		background:url('../img/search-icon.png') no-repeat 35px 7px #f6f6f6;
	}
	.formbusca:focus{ /* Efeito de quando clica no Formulário ele aumenta o Width */
		/*border: solid 1px rgba(124, 128, 129, 0.2); Cinza muito Bonito! */
		width:100%; /* Tamanho de quando clica no Formulário */
		transition:600ms;
		border-right:2px solid #f1f1f1;
	}	
	
	/*Personalizacao nas tabs (noticias)*/
	.TabbedPanelsTab {background-color: #f3f3f3;width:35%;}
	.TabbedPanelsContentGroup {background-color: transparent;border-top:none;}
	.VTabbedPanels .TabbedPanelsTabGroup {background-color: transparent;}
	.TabbedPanelsTabHover {background-color: #e9e9e9;}
	.TabbedPanelsTabSelected {background-color: transparent;border:none;border-bottom:1px solid #bbb;}
	
	/*Configuracao geral para articles*/
	article{font-family:Segoe UI, sans-serif;}
	article p{font-family:Segoe UI, sans-serif;font-size:1.1em;color:#535353}
	article h3{color:#209BD0;font-weight:400;font-size:1.2em;}
	article a{font-size:0.88em;color:#4B4B4B;border-bottom:1px dashed #4B4B4B;}
	article a:hover{border-bottom:1px solid #4B4B4B}

	/*--------------------------------
	Primeiro Artigo na Pagina Inicial
	---------------------------------*/
	article.um-educacao{
		width:83%;
		margin:20px auto;	
		font-size:0.93em;
	}

			article.um-educacao div.apren, div.ensin, div.certi{
				width:280px;
				min-width:220px;
				display:inline-block;
				padding-right:9px;
				padding-top:20px;
			}
	
	/*--------------------------------
	Segundo Artigo na Pagina Inicial
	---------------------------------*/
	article.noticias{
		margin:80px 0px 15px 40px;
	}		
		
			/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
			article.noticias aside.noticia-esque{
				width:42%;
				min-width:270px;
				float:left;
				padding-bottom:50px;
			}
			
				article.noticias aside.noticia-esque div.sub-news{
					width:88%;
					margin:20px auto;	
					border-bottom:1px dotted #333333;
				}	
				
					article.noticias aside.noticia-esque div.sub-news h4{color:#5B5B5B;font-weight:500;font-size:1.1em;padding-bottom:3px;border-bottom:1px dashed #4B4B4B;}
					article.noticias aside.noticia-esque div.sub-news p{padding:15px 0;font-weight:200;}
					
			/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
			article.noticias div.noticia-direi{
				width:53%;
				min-width:270px;
				float:left;
				padding-bottom:50px;
				/*background-color:rgba(255,255,255,.6);*/
			}
				article.noticias div.noticia-direi p{text-align:justify;font-size:1.11em;margin:10px 20px;}
				article.noticias div.noticia-direi img{width:90%;margin:0 20px;}
			
			

	/*--------------------------------
	Terceiro Artigo na Pagina Inicial
	---------------------------------*/
	article.comunidade{
		margin:0 auto 0 auto;
		width:90%;
	}
	
			article.comunidade div.rslides_container{
				float:left;	
				width:60%;
				margin-right:1.3em;
			}
			
			article.comunidade div.txt-comunidade{
				float:left;
				width:30%;	
			}
			
				article.comunidade div.txt-comunidade h4{font-weight:100;font-size:2.1em;}
				article.comunidade div.txt-comunidade span{font-size:2.1em;}
				article.comunidade div.txt-comunidade p{padding-top:15px;width:200px;min-width:100px;font-weight:100;font-size:0.8em;}
			


@media only screen and (max-width:1060px) and (min-width:900px){
	article.um-educacao{width:70%;}
	article.um-educacao div.apren, div.ensin, div.certi{width:210px;min-width:210px;}
	article.noticias{margin:60px 0px 15px 15px;}		
}

@media only screen and (max-width:900px) and (min-width:480px){
	article.um-educacao p, article.um-educacao span{font-size:0.9em;}
	article.um-educacao{width:68%;}
	article.um-educacao div.apren, div.ensin, div.certi{width:150px;min-width:150px;}
	article.noticias{margin:60px 0px 15px 15px;}
	/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
	article.noticias aside.noticia-esque{width:96%;}
	/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
	article.noticias div.noticia-direi{width:96%;}
	article.noticias div.noticia-direi p{width:90%;}
	article.noticias aside.noticia-esque div.sub-news{width:70%;}
	.TabbedPanelsTab{width:90%;}
	/*Artigos do Slide e texto -para torna-los 'full'*/
	article.comunidade div.rslides_container{width:60%;}
	article.comunidade div.txt-comunidade{width:auto;}
}

@media only screen and (max-width:480px){
	#formbusca{text-align:center;}
	article.noticias{margin:60px 0px 15px 10px;}		
	/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
	article.noticias aside.noticia-esque{width:93%;}
	article.noticias aside.noticia-esque div.sub-news{width:90%;}
	/*Divisao que separa as noticias dentro das TABs e a noticia fixa a direita*/
	article.noticias div.noticia-direi{width:96%;}
	article.noticias div.noticia-direi p{text-align:justify;font-size:1.11em;margin:5px auto;width:89%;}
	article.noticias div.noticia-direi img{width:90%;margin:0 10px;}
	/*Artigos do Slide e texto -para torna-los 'full'*/
	article.comunidade div.rslides_container{width:95%;}
	article.comunidade div.txt-comunidade{width:220px;padding-bottom:50px;}
}