@charset "utf-8";
*{
	margin:0;
	padding:0;
	border:0;
	transition: all 900ms;
}

article, aside, canvas, figure img, figcaption, hgroup, footer, header, nav, section, audio, video{display:block;}

body{
	background:#EEE;
	font-family:'Maven Pro', sans-serif;
}
	section{height:100%;}
	a img{border:0;}	
	figure img{width:100%;}
	a{text-decoration:none;}
	nav a{letter-spacing:0.01em;}

/*----------------------------------
			Interface
--------------------------------------*/

#tudo{
	max-width:97%;
	width:1060px;
	min-width:220px;
	margin:0px auto;
	overflow:hidden;
	background-color:#fafafa;
	box-shadow:-0.5px 0px 10px #CCC;
}

/*----------------------------------
		HEADER + Menu
--------------------------------------*/


	header{
		background-color:#FAFAFA;
		height:60px;
	}
	
		header div#logo{
			float:left;
			padding:14px 0 0 40px;
		}

		nav i.fa{font-size:0.9em;}	

		nav.nav-menu-principal{
			float:right;
			margin-right:40px;
			margin-top:16px;
		}

			.menu-topo li{
				list-style:none;
				display:inline-block;
			}
			
			.menu-topo li a{
				font-family:Calibri;
				font-weight:lighter;
				text-transform:uppercase;
				font-size:1.03em;
				letter-spacing:-0.05em;
				text-decoration:none;
				color:#666;	
				
				padding:5px 13px;
			}	
			
			.menu-topo li a:hover{
				color:#006BD7;
				transition:350ms;
			}

/*----------------------------------
			Conteudo Slide
--------------------------------------*/
	/*Esta div para slide está apresentada na PAGINA INDEX*/
	div#slider{width:100%;}
	/*Esta div para banner está apresentada na PAGINA DE CONTEUDO DOS PRODUTOS*/
	div#banner-produtos{width:100%;}
	
/*----------------------------------
			Footer
--------------------------------------*/
footer{
	clear:both;
	display:block;
	width:100%;
	min-width:220px;
	background-color:#e9e9e9;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow:hidden;
}
				
		div.logo-menu{
			width:90%;
			padding:35px 35px 45px 35px;
			margin:auto;	
		}
		/*===========LOGO RODAPE===========*/
		footer div.logo-rodape{
			float:left;	
		}
		/*===========MENU RODAPE===========*/
		footer nav.nav-menu-rodape{
			float:right;
		}	
		footer nav.nav-menu-rodape a{
			font-family:Segoe UI, Calibri, sans-serif;
			font-weight:lighter;
			font-size:0.88em;
			color:black;	
			text-transform:uppercase;
		}
		footer nav.nav-menu-rodape ul li{
			display:inline-block;
			padding-left:20px;	
		}
		footer nav.nav-menu-rodape a:hover{
			padding-left:5px;
			border-left:2px solid #6DD900;	
			transition:300ms;
		}
		/*=========DIREITOS AUTORAIS - PARAGRAFO===========*/
		footer p{
			clear:both;
			font-family:Segoe UI, Calibri, sans-serif;
			font-weight:normal;
			font-size:0.8em;
			background-color:rgba(255,255,255,.4);
			color:#000;	
			padding:15px;
			text-align:center;
			position:relative;
		}	
				.fa{font-size:1.2em;}				
				footer p a{color:#333;}
				footer p a:hover{color:#666;}

		footer p img{position:absolute;float:right;margin:2px 0 0 47px;}
		footer p span a{color:#000;	border-bottom:dashed 1px #6DD900;}
		footer p span a:hover{color:#999;border-bottom:solid 1px #6DD900;}
	
@media only screen and (max-width:1060px) and (min-width:900px){
	#tudo{width:97%; max-width:1060px;}
}

@media only screen and (max-width:900px) and (min-width:480px){
	#tudo{width:97%;}
	nav.menu-lateral{position:static;display:none;}
	section.produtos-esquerdo{width:95%;}
	footer{width:100%;}
}

@media only screen and (max-width:480px){
	#tudo{width:97%;}
	nav.nav-menu-principal{margin-bottom:10px;margin-right:0;}
	nav.nav-menu-principal{margin-right:-13px;}
	.menu-topo li a{padding:5px 10px;}	
	nav.nav-menu-principal, header, section{width:97%;}
	section.produtos-esquerdo{width:95%;}
	nav.menu-lateral{position:static;display:none;}
	footer{width:99%;}
	footer nav.nav-menu-rodape ul li{padding-left:0;}
	footer div.logo-rodape{float:none;width:auto;margin-left:40%;}
}